*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    height: auto;
    margin: 0%;
}
header{
    background-color: rgb(45, 44, 44);
    text-align: center;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: larger;
}
#navigate{
    height: 30px;
    top: 0%;
    position: sticky;
}
.menu{
    list-style-type: none;
    float: right;
    position: sticky;  
    width: 100%;
    padding: 10px 0px;  
    background-color: grey;
}

.menu li{
    display: inline-block;
    
}
.menu li a{
    text-decoration: none;
    color: whitesmoke;
    background-color: grey;
    padding: 7px 20px;
}
.menu li a:hover{
    color: white;
    background-color: rgb(45, 44, 44);
}

.menu li:nth-child(2):hover #Dropdown_1, 
.menu li:nth-child(3):hover #Dropdown_2
{
    display: block;
   
}
#Dropdown_1, #Dropdown_2 {
    position: absolute;
    width: max-content;
    display: none;
    padding: 0%;
    background-color: rgb(209, 209, 209);
}
#Dropdown_1 li, #Dropdown_2 li {
    width: 100%;
    display: block;
    margin-top: 20px;
    background-color: rgb(209, 209, 209);
}

#Dropdown_1 li a:hover, #Dropdown_2 li a:hover {
    width: 74%;
    text-decoration: none;
    color: black;
    background-color: rgb(230, 230, 230);
    padding: 7px 20px;
    float: left;
}

#Dropdown_1 li a, #Dropdown_2 li a {
    text-decoration: none;
    color: black;
    padding: 7px 20px;
    float: left;
    background-color: rgb(209, 209, 209);
}

.slide{
    width: auto;
    height: 850px;
    border: solid steelblue 2px;
    background-size: cover;
    animation: slide 10s infinite;
    overflow: hidden;
}
@keyframes slide {
    0%{
        background-image: url("images/Animation/ani1.jpg");
    }
    20%{
        background-image: url("images/Animation/ani2.png");
    }
    40%{
        background-image: url("images/Animation/ani2.png");
    }
    60%{
        background-image: url("images/Animation/ani3.jpg");
    }
    80%{
        background-image: url("images/Animation/ani4.jpg");
    }
    100%{
        background-image: url("images/Animation/ani5.jpg");
    }
    
}

#covidCare{
    margin: 25px;
}
#diabetesCare{
    margin: 25px;
}
.productBox{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.product{
    background-color: lightgrey;
    width: 21%;
    
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 3%;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product h4{
    text-align: left;
    font-size: larger;
}

.product img{
    height: 230px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product p{
    color: rgba(34, 61, 183, 0.83);
    text-align: left;
    margin-left: 25px;
}
.product button{
    padding: 10px;
    width: 90%;
    border: blue solid 1px;
    border-radius: 10px;
}
.product button:hover{
    padding: 15px;
    width: 90%;
    background-color: rgb(250, 234, 230);
    border: rgb(0, 255, 76) solid;
    border-radius: 10px;
}
.product button h3{
    color: orangered;
    font-size: larger;
}

footer{
    background-color: black;
    text-align: center;
    width: 100%;
}
footer h5{
    position: sticky;
    bottom: 0;
    padding: 20px;
    color: white;
}
