body{
    height: auto;
    background-image: 100%;
}

h1{
    background-color: rgb(68, 66, 66);
    margin: 0%;
    padding: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

a{
    font-family: 'Times New Roman', Times, serif;
}

.alignboth{
    top: 0;
    position: fixed;
    width: 100%;
}

.menu{
    position: inherit;
    margin: 0%;
    position: fixed;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}
.menu li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.menu li{
    padding: 10px;
    display: inline-block;
}
.menu li:hover{
    background-color: black;
}
.menu li:nth-child(2):hover #Dropdown_1, .menu li:nth-child(3):hover #Dropdown_2{
    display: block;
}
#Dropdown_1, #Dropdown_2{
    position: absolute;
    width: auto;
    max-width: 150px;
    display: none;
    top: 42.5px;
    background-color: whitesmoke;
    padding: 0%;
}
#Dropdown_1 li, #Dropdown_2 li{
    display: block;
}
#Dropdown_1 li:hover, #Dropdown_2 li:hover{
    background-color: gainsboro;
}
#Dropdown_1 li a, #Dropdown_2 li a{
    color: steelblue;
    font-size: 16px;
}



@keyframes slide{
    0%{
        background-image: url("../Animation/ani1.jpg");
    }
    25%{
        background-image: url("../Animation/ani2.png");
    }
    50%{
        background-image: url("../Animation/ani3.jpg");
    }
    75%{
        background-image: url("../Animation/ani4.jpg");
    }
    100%{
        background-image: url("../Animation/ani5.jpg");
    }
}

.slide{
    width: auto;
    height: 550px;
    border: solid steelblue 2px;
    background-size: cover;
    animation: slide 10s infinite;
    overflow: hidden;
}


.sliding{
    top: 30%;
    border: steelblue solid 2px;
    animation: sliding 10s infinite;
}

.footer{ 
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

















/*
img{
    left: 0;
    right: 0;
    background-repeat: repeat-y;
    border: 2px solid steelblue;
    max-width: 100%;
}   
*/